/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * visualization
 */
 .links line {
   stroke: #999;
   stroke-opacity: 0.6;
 }

 .nodes circle {
   stroke-width: 0;
 }
 .nodes circle:hover, .nodes circle:focus {
   stroke-width: 2px;
   stroke: #fff;
 }
 [type="artist"]{
   fill: #EF5032;
 }
 [type="architect"]{
   fill: #FFDC01;
 }
 [type="politician"]{
   fill: #C1D72F;
 }
 [type="curator"]{
   fill: #7E3F98;
 }
 [type="bureaucrat"]{
   fill: #0093D0;
 }
 [type="entrepreneur"]{
   fill: #006b09;
 }
 [type="other"]{
   fill: #905700;; //#A1988A;
 }
 nav#menu {
   position: absolute;
   top:0;
   left:0;
   z-index: 2;
   ul {
     list-style-type: none;
     margin: 0;
     button {
       width: 90px;
       color: #fff;
       text-align: left;
       border: 0;
       margin-left: 0;
       transition: margin-left .5s ease;
     }
     button.active {
       margin-left: 20px;
     }
     [name="architect"] {
       background-color: #FFDC01;
     }
     [name="artist"] {
       background-color: #EF5032;
     }
     [name="politician"] {
       background-color: #C1D72F;
     }
     [name="curator"] {
       background-color: #7E3F98;
     }
     [name="bureaucrat"] {
       background-color: #0093D0;
     }
     [name="entrepreneur"] {
       background-color: #006b09;
     }
     [name="other"] {
       background-color: #905700;
     }
   }
 }

.search {
  position: absolute;
  top:15px;
  right:10px;
  z-index: 2;
  input {
    text-align: center;
    width: 100%;
  }
  ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 15px 5px;
    background-color: #fff;
    border: 1px solid #bbb;
    li {
      text-align: center;
      max-width: 164px;
    }
  }
}

.personal-data {
  height: 90vh;
  padding: 5vh 0 0 0;
  p:first-child {
    margin-bottom: 0;
  }
  p:nth-child(2) {
    margin-bottom: 15px;
  }
  .list-of-projects{
    max-height: 90%;
    overflow-y: auto;
  }
}
#related-persons {
  display: none;
}

.slider {
  position:absolute;
  bottom: 30px;
  left: 10px;
  input[type='range'] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 5px;
    height: 100px;
    background: transparent;
  }
  // input[type=range]::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  // }
  //
  // input[type=range]:focus {
  //   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  // }
  //
  // input[type=range]::-ms-track {
  //   width: 100%;
  //   cursor: pointer;
  //   /* Hides the slider so custom styles can be added */
  //   background: transparent;
  //   border-color: transparent;
  //   color: transparent;
  // }
  // /* Special styling for WebKit/Blink */
  // input[type=range]::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   border: 1px solid #fff;
  //   height: 10px;
  //   width: 10px;
  //   border-radius: 50%;
  //   background: #ffffff;
  //   cursor: pointer;
  //   margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  // }
  //
  // /* All the same stuff for Firefox and IE */
  // input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //   border: 1px solid #000000;
  //   height: 36px;
  //   width: 16px;
  //   border-radius: 3px;
  //   background: #ffffff;
  //   cursor: pointer;
  // }
  //
  // input[type=range]::-webkit-slider-runnable-track {
  //   width: 100%;
  //   height: 8.4px;
  //   cursor: pointer;
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //   background: #3071a9;
  //   border-radius: 1.3px;
  //   border: 0.2px solid #fff;
  // }
  //
  // input[type=range]:focus::-webkit-slider-runnable-track {
  //   background: #367ebd;
  // }
  //
  // input[type=range]::-moz-range-track {
  //   width: 100%;
  //   height: 8.4px;
  //   cursor: pointer;
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  //   background: #3071a9;
  //   border-radius: 1.3px;
  //   border: 0.2px solid #010101;
  // }
  //
  // input[type=range]::-ms-track {
  //   width: 100%;
  //   height: 8.4px;
  //   cursor: pointer;
  //   background: transparent;
  //   border-color: transparent;
  //   border-width: 16px 0;
  //   color: transparent;
  // }
  // input[type=range]::-ms-fill-lower {
  //   background: #2a6495;
  //   border: 0.2px solid #010101;
  //   border-radius: 2.6px;
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // }
  // input[type=range]:focus::-ms-fill-lower {
  //   background: #3071a9;
  // }
  // input[type=range]::-ms-fill-upper {
  //   background: #3071a9;
  //   border: 0.2px solid #010101;
  //   border-radius: 2.6px;
  //   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // }
  // input[type=range]:focus::-ms-fill-upper {
  //   background: #367ebd;
  // }

}
.timeline {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
  .years {
    position: relative;
    span {
      cursor: pointer;
    }
  }
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #999;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }

  /* All the same stuff for Firefox and IE */
  input[type=range]::-moz-range-thumb, input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #999;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #fff;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
}
.multiselector {
  position: absolute;
  left: 20px;
  top: 170px;
  text-align: center;
  width: 30px;
  span {
    display: block;
    cursor: pointer;
    &.active {
      font-size: 1.5em;
      text-shadow: 0px 0px 5px #000000;
      color: #a4f9e1;
    }
  }
}

.switch-container{
  position: absolute;
  top: 200px;
  left: 10px;
  input.switch:empty
  {
  	margin-left: -999px;
    position: absolute;
    ~ label {
    	position: relative;
    	float: left;
    	line-height: 1.6em;
    	margin: 0.2em 0;
    	cursor: pointer;
    	-webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
      &::before, &::after{
      	position: absolute;
      	display: block;
      	top: 2em;
      	bottom: -2em;
      	left: 0;
      	content: '';
        color: #777;
      	width: 3.6em;
      	background-color: #bbb;
      	border-radius: 0.3em;
      	-webkit-transition: all 100ms ease-in;
      	transition: all 100ms ease-in;
      }
      &::after {
        content: '';
      	width: 1.4em;
      	top: 2.1em;
      	bottom: -1.9em;
      	margin-left: 0.1em;
      	background-color: #fff;
      	border-radius: 0.15em;
      }
    }
  }
  input.switch:checked ~ label:before
  {
  	background-color: #11bdff;
  }
  input.switch:checked ~ label:after
  {
  	margin-left: 2em;
  }
}


.selected-node {
  opacity: 1;
  circle {
    stroke-width: 3px;
    stroke: #a4f9e1;
  }
}
.deselected-node {
  opacity: 0.3;
}

// .tooltip {
//   opacity: 1;
// }

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
    position: relative;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
