<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <!-- <div class="wrapper"> -->
        <nav id="menu">
          <ul>
            <li><button type="button" class="profession-filter-canvas" name="architect">Architect</button></li>
            <li><button type="button" class="profession-filter-canvas" name="artist">Artist</button></li>
            <li><button type="button" class="profession-filter-canvas" name="curator">Curator</button></li>
            <li><button type="button" class="profession-filter-canvas" name="bureaucrat">Bureaucrat</button></li>
            <li><button type="button" class="profession-filter-canvas" name="politician">Politician</button></li>
            <li><button type="button" class="profession-filter-canvas" name="entrepreneur">Entrepreneur</button></li>
            <li><button type="button" class="profession-filter-canvas" name="other">Other</button></li>
          </ul>
        </nav>
        {{ content }}
      <!-- </div> -->
    </div>
    <div class="tooltip top" role="tooltip" style="display: none;">
      <div class="tooltip-arrow hidden"></div> <div class="tooltip-inner"> Tooltip on the top </div>
    </div>
    {% include footer.html %}

  </body>

</html>
