<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <!-- <div class="wrapper"> -->
        <nav id="menu">
          <ul>
            <li><button type="control" name="architect">Architect</button></li>
            <li><button type="control" name="artist">Artist</button></li>
            <li><button type="control" name="curator">Curator</button></li>
            <li><button type="control" name="bureaucrat">Bureaucrat</button></li>
            <li><button type="control" name="politician">Politician</button></li>
            <li><button type="control" name="other">Other</button></li>
          </ul>
        </nav>
        {{ content }}
      <!-- </div> -->
    </div>

    {% include footer.html %}

  </body>

</html>
